@import "./theme.css";
@import "tailwindcss";

@theme {
  --font-family: "Montserrat";

  --color-primary-100: var(--primary-100);
  --color-primary-700: var(--primary-700);
  --color-primary-900: var(--primary-900);

  --color-alert: var(--alert);
  --color-success: var(--success);
  --color-warning: var(--warning);

  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);

  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-3: var(--bg-3);

  --color-stroke-1: var(--stroke-1);
  --color-stroke-2: var(--stroke-2);

  --text-3xl: 32px;
  --spacing-input: 42px;
  --radius-6xl: 48px;

  --breakpoint-3xl: 1728px;
  --spacing-8xl: 1500px;
}

input {
  outline: none;
}

button {
  outline: none;
}

.customScroll {
  scrollbar-width: thin;
  scrollbar-color: var(--stroke-1) var(--bg-1);
}
